<div class="content">
    <!--start container-->
    <div class="chuhe-dashboard-container">
        <div class='chuhe-chart-container'>
            <div  class='chuhe-3d-item'>
              <div class='chuhe-3d-wrapper'>
                <div id='chuhe-bridge-scene' class='chuhe-3d-content'>
                </div>
              </div>
              <div class='chuhe-3d-description'>
                  <%= legend %>
                  <%= indicator %>
              </div>
            </div>

            <div class='chuhe-info-item'>
              <div class='chuhe-label-container'>
                <a id='chuhe-switch-button' class="btn-floating waves-effect waves-light"><i class="mdi-action-info"></i></a>
                <span id='chuhe-label'>滁河大桥</span>
              </div>
              <div id='map' class='chuhe-map'>
              </div>

              <div id='detail' class='card-panel chuhe-detail'>
                <span class='white-text'>
                  <%= description %>
                </span>
              </div>
            </div>

        </div>
        <div class="chuhe-card-container">
            <div class="chuhe-card-item">
              <!-- 挠度传感器-->
              <%= deflectionSensor %>
            </div>
            <div class="chuhe-card-item">
              <!-- 位移传感器-->
              <%= displacementSensor %>
            </div>
            <div class="chuhe-card-item">
              <!-- 垂直度传感器-->
              <%= verticalitySensor %>
            </div>
            <div class="chuhe-card-item">
              <!-- 应变传感器-->
              <%= strainSensor %>
            </div>
            <div class="chuhe-card-item">
              <!-- 索利传感器-->
              <%= cableforceSensor %>
            </div>
            <div class="chuhe-card-item">
              <!-- 震动传感器-->
              <%= vibrationSensor %>
            </div>
            <div class="chuhe-card-item">
              <!-- 荷载传感器-->
              <%= trafficloadSensor %>
            </div>
            <div class="chuhe-card-item">
              <!-- 服饰度传感器-->
              <%= corrosionSensor %>
            </div>
        </div>
    </div>
    <!--end container-->
</div>
