<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>滁河大桥安全监测平台</title>
    <link rel="stylesheet" href="/lib/materialize/js/build/jquery.datetimepicker.css"/>
    <link rel="stylesheet" href="/lib/materialize/css/materialize.css"/>
    <link rel="stylesheet" href="/lib/materialize/css/style.css"/>
    <link rel="stylesheet" href="/lib/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/lib/materialize/js/plugins/chartist-js/chartist.min.css"/>
    <link rel="stylesheet" href="/lib/materialize/bridge3d/bridge3d.css"/>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=YhaVfgRQhHF8LFChiRiwprjOzQeqYWdY"></script>
</head>

<body>
    <!-- Start Page Loading -->
    <!-- <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div> -->
    <!-- End Page Loading -->


    <!-- START HEADER -->
    <%= header %>
        <!-- END HEADER -->

        <!-- START MAIN -->
        <div id="main">

                <!-- START LEFT SIDEBAR NAV-->
                <%= leftSideBar %>
                    <!-- END LEFT SIDEBAR NAV-->

                    <!-- START CONTENT -->
                    <%= content %>
                        <!-- END CONTENT -->

                        <!-- START RIGHT SIDEBAR NAV-->
                        <%= rightSideBar %>
                            <!-- LEFT RIGHT SIDEBAR NAV-->



        </div>
        <!-- END MAIN -->


        <!-- START FOOTER -->
        <%= footer %>
            <!-- END FOOTER -->
        <script type="text/javascript" src="/lib/materialize/js/plugins/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/lib/materialize/js/build/jquery.datetimepicker.full.js"></script>
        <script type="text/javascript" src="/lib/materialize/js/materialize.js"></script>
        <script type="text/javascript" src="/lib/materialize/js/plugins.js"></script>
        <script type="text/javascript" src="/lib/materialize/js/plugins/chartist-js/chartist.min.js"></script>
        <script type="text/javascript" src="/lib/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script type="text/javascript" src="/lib/materialize/bridge3d/bridge3d.js"></script>
        <script type="text/javascript" src="/lib/materialize/js/plugins/flot-chart/jquery.flot.js"></script>
        <script type="text/javascript" src="/lib/materialize/js/plugins/flot-chart/jquery.flot.time.js"></script>
        <script type="text/javascript" src="/lib/materialize/js/plugins/flot-chart/jquery.flot.navigate.js"></script>
        <script type="text/javascript" src="/lib/materialize/js/plugins/flot-chart/jquery.flot.pie.js"></script>
        <script type="text/javascript" src="/lib/materialize/gauge/raphael-2.1.4.min.js"></script>
        <script type="text/javascript" src="/lib/materialize/gauge/justgage.js"></script>
        <script type="text/javascript" src="/lib/materialize/js/materialize-plugins/leanModal.js"></script>



</body>

</html>
